* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  background-color: #ebecf2;
  font-family: "Montserrat", sans-serif;
}

.main-color-name {
  color: #039ff0;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: #039ff0;
  border-radius: 10px;
  margin: 0 auto 40px;
  box-shadow: 0 0 7px #039ff0;
}

nav {
  text-transform: uppercase;
  z-index: 100;
  transition: background-color 0.6s;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .navbar-tooggler {
  padding: 10px;
}
nav .nav-link, nav .navbar-nav .nav-link.show, nav .navbar-brand, nav .fa-bars {
  color: #fff;
}
nav .nav-link:focus, nav .nav-link:hover, nav .navbar-brand:hover, nav .navbar-nav .nav-link.active, nav .navbar-nav .nav-link.show {
  color: #039ff0;
}

.hero-section {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.hero-section .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.hero-img {
  height: 100vh;
  background-image: url("../img/bmw-small.jpg");
  background-position: 80%;
}
.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
}
.hero-img .hero-text h1 {
  text-transform: uppercase;
}
.hero-img .fa-chevron-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 30px;
  color: #fff;
}

.about-us i {
  margin-top: 20px;
  font-size: 30px;
}
.about-us .about-us-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.about-us .about-us-card-text {
  font-size: 14px;
}
.about-us .about-us-card {
  transition: color 0.3s;
}
.about-us .about-us-card:hover {
  color: #039ff0;
}

.about-us-hero {
  background-image: url("../img/lambo-small.jpg");
  height: 100%;
  background-position: 30%;
}
.about-us-hero .about-us-hero-item {
  margin: 10px 0;
}
.about-us-hero .about-us-hero-item i {
  font-size: 36px;
}
.about-us-hero .about-us-hero-item .about-us-hero-title {
  font-size: 24px;
}

.cars .carousel-item {
  height: 600px;
}
.cars .carousel-caption {
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.cars .carousel-indicators {
  padding-bottom: 20px;
}
.cars .card {
  margin: 0 10px;
}

.prices .price-item {
  padding: 30px;
  margin: 0 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 10px 10px 10px #ddd;
  transition: transform 0.3s;
}
.prices .price-item .price-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: #039ff0;
}
.prices .price-item .feature-list {
  list-style: none;
  padding-left: 0;
}
.prices .price-item .feature-list .feature {
  padding: 5px 0;
}
.prices .price-item .feature-list span {
  font-weight: bold;
}
.prices .price-item .price {
  font-weight: bold;
  font-size: 22px;
}
.prices .prices-info {
  margin-top: 20px;
}
.prices .prices-info a {
  text-decoration: none;
}
.prices .price-item:hover {
  transform: scale(1.05);
}

@media (max-height: 769px) and (max-width: 486px) {
  nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@media (min-width: 768px) {
  .hero-img {
    background-image: url("../img/bmw-big.jpg");
  }
  .hero-img .hero-text h1 {
    font-size: 42px;
  }
  .hero-img .hero-text p {
    font-size: 22px;
  }
  .about-us-hero {
    background-image: url("../img/lambo-big.jpg");
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}/*# sourceMappingURL=main.css.map */